asgiref==3.11.1
channels==4.3.2
channels_redis==4.3.0
daphne==4.2.1
Django==5.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
firebase_admin==7.2.0
openai==2.2.0
pdfplumber==0.11.7
pillow==11.3.0
twilio==9.10.2
gunicorn
whitenoise==6.4.0